*{
    margin: 0;
    padding: 0;
}
#clockContainer{
    position:relative;
    top: 50px;
    display:inline-block;
    height:30vmax;
    margin: auto;
    width:30vw;
    /* background-color: red; */
    background: url(clock.png) no-repeat;
    background-size: 30vw;
    /* border: 2px solid black; */
}
#hour{
    position: relative;
    top:7vw;
    height:8vw;
    /* display: none; */
    width: 0.6vw;
    transform-origin: bottom;
}
#minute{
    position: relative;
    top:-3vw;
    /* display: none; */
    transform-origin: bottom;
    height:10vw;
    width: 0.4vw;
}
#second{
    transform-origin: bottom;
    position: relative;
    /* display: none; */
    top:-15vw;
    height:12vw;
    width: 0.2vw;
}
#hour,#minute,#second{
    position: relative;
    left:-0.3%;
    background-color: black;
    border-radius: 500px;

}
